In [1]:
# In Notebooks/main.ipynb
import sys
import os
import numpy as np
sys.path.append(os.path.join(os.getcwd(), '..'))
from load_data import MovieLensDataLoader

MOVIELENS_DIR = '/home/babsdevsys/ml-32m/'

loader = MovieLensDataLoader(data_path=MOVIELENS_DIR)

# Load the data
movies, ratings, tags, links = loader.load_data()
ratings['rating'] = ratings['rating'].values.astype(np.float32)
ratings['userId'] = ratings['userId'].values.astype(np.int32)
print("Data types of the ratings dataframe:")
print(ratings.dtypes)

Data loaded successfully!
Data types of the ratings dataframe:
userId         int32
movieId        int64
rating       float32
timestamp      int64
dtype: object

In [ ]:
movies['movieId'] = movies['movieId'].values.astype(np.int32)
print("Data types of the movies dataframe:")
print(movies.dtypes)

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
tags['userId'] = tags['userId'].values.astype(np.int32)
tags['movieId'] = tags['movieId'].values.astype(np.int32)
print("Data types of the tags dataframe:")
print(tags.dtypes)

Data types of the tags dataframe:
userId        int32
movieId       int32
tag          object
timestamp     int64
dtype: object

In [4]:
# Display the first few rows of the tags dataframe
tags.head()

   userId  movieId          tag   timestamp
0      22    26479  Kevin Kline  1583038886
1      22    79592     misogyny  1581476297
2      22   247150   acrophobia  1622483469
3      34     2174        music  1249808064
4      34     2174        weird  1249808102

In [5]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [18]:
links['movieId'] = links['movieId'].values.astype(np.int32)
print("Data types of the links dataframe:")
print(links.dtypes)

Data types of the links dataframe:
movieId      int32
imdbId       int64
tmdbId     float64
dtype: object

In [2]:
# Print The dimension of data loaded
print("The dimension movies dataframes are:", movies.shape, "\nThe dimension of ratings dataframe are:", ratings.shape, "\nThe dimension of tags dataframe are:", tags.shape, "\nThe dimension of links dataframe are:", links.shape)

The dimension movies dataframes are: (87585, 3)
The dimension of ratings dataframe are: (32000204, 4)
The dimension of tags dataframe are: (2000072, 4)
The dimension of links dataframe are: (87585, 3)

In [2]:
# Feauture selection
movies=movies[['movieId', 'title', 'genres']]
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama
87581,292737,Shelter in Solitude (2023),Comedy|Drama
87582,292753,Orca (2023),Drama
87583,292755,The Angry Breed (1968),Drama
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary

In [17]:
ratings=ratings[['userId', 'movieId', 'rating', 'timestamp']]
ratings

          userId  movieId  rating   timestamp
0              1       17     4.0   944249077
1              1       25     1.0   944250228
2              1       29     2.0   943230976
3              1       30     5.0   944249077
4              1       32     5.0   943228858
...          ...      ...     ...         ...
32000199  200948    79702     4.5  1294412589
32000200  200948    79796     1.0  1287216292
32000201  200948    80350     0.5  1294412671
32000202  200948    80463     3.5  1350423800
32000203  200948    87304     4.5  1350423523

[32000204 rows x 4 columns]

In [ ]:
tags=tags[['userId', 'movieId', 'tag', 'timestamp']]
tags

In [5]:
tags.head()

   userId  movieId          tag   timestamp
0      22    26479  Kevin Kline  1583038886
1      22    79592     misogyny  1581476297
2      22   247150   acrophobia  1622483469
3      34     2174        music  1249808064
4      34     2174        weird  1249808102

In [ ]:
links=links[['movieId', 'imdbId', 'tmdbId']]
links

In [6]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [25]:
movies['tags'] = tags.groupby('movieId')['tag'].apply(lambda x: ' '.join(x.astype(str)))
movies['tags'] = movies['tags'].fillna('')
movies

,movieId,title,genres,tags
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,
1,2,Jumanji (1995),Adventure|Children|Fantasy,children Disney animation children Disney Disn...
2,3,Grumpier Old Men (1995),Comedy|Romance,Robin Williams fantasy Robin Williams time tra...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,comedinha de velhinhos engraÃƒÂ§ada comedinha ...
4,5,Father of the Bride Part II (1995),Comedy,characters slurs based on novel or book chick ...
...,...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama,
87581,292737,Shelter in Solitude (2023),Comedy|Drama,
87582,292753,Orca (2023),Drama,
87583,292755,The Angry Breed (1968),Drama,
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary,

In [27]:
new_data = movies.merge(ratings, on='movieId', how='inner')
print("The dimension of the new data is:", new_data.shape)
new_data.head()

The dimension of the new data is: (32000204, 7)

,movieId,title,genres,tags,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,10,2.5,1169265231
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,11,3.0,850085076
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,17,4.0,1027305751
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,19,3.0,974704488
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,,20,5.0,1553184230

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
CV=CountVectorizer(max_features=10000 , stop_words='english')
if 'tags' not in movies.columns:
    movies['tags'] = tags.groupby('movieId')['tag'].apply(lambda x: ' '.join(x.astype(str)))
    movies['tags'] = movies['tags'].fillna('')
    movies
CV.fit(movies['tags'])
print("The number of features extracted from the tags are:", len(CV.get_feature_names_out()))

The number of features extracted from the tags are: 10000

In [ ]:
CV = CountVectorizer(max_features=1000, stop_words='english')  # Reduce the number of features
transformed_tags = CV.fit_transform(new_data['tags'].values.astype('U')).toarray()
print("The shape of the array after transforming the tags is:", transformed_tags.shape)